[submodule "tinker-atropos"]
	path = tinker-atropos
	url = https://github.com/nousresearch/tinker-atropos
[submodule "cam-douglas-dot-hermes"]
	path = .hermes
	url = git@github.com:cam-douglas/.hermes.git
